<%- include('partials/header.ejs') %>
<form action="/search/results" method="GET" class="search_form">
    <input class="search_input" type="text" name="term" id="term" placeholder="Look for a song or album to add  to your journal">
    <button type="submit" class="search_icon">
        <img src="assets/loupe.png" alt="" srcset="" style="height: 2rem;
        width: 2rem;">
    </button>
</form>

<%- include('partials/footer.ejs') %>